body {
}

.Frame {
    height:900px;
    width:1200px;
    margin: 0 auto;
}

.Header {
    height:7%;
    width:100%;
    background-color:blue;
}

.LeftContent {
    height:93%;
    width:75%;
    float:left;
}

.LeftColumn {
    height:20%;
    width:15%;
    border: 2px black solid;
    margin-top:5px;
    margin-left: 5px;
    margin-right:5px;
    float:left;
    background-color:red;
}

.RightContent {
    height:93%;
    width:25%;
    float:right;
}

.RightColumn {
    height:25%;
    width:45%;
    border: 2px black solid;
    margin-top:5px;
    margin-left: 5px;
    margin-right:5px;
    float:right;
    background-color:green;
}
